@import '@/styles/media';
@import '@/styles/offsets';

.header {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

    @include media_breakpoint_mobile {
        flex-direction: column-reverse
    }
}

.content {
    @include subsection-above-offset;
}

.number {
    margin-top: 24px;
    color: var(--color-gray-6x);

    @include media_breakpoint_mobile {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}
