@import '@/styles/media.scss';

.loadMore {
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 340px;
    background: linear-gradient(180deg, rgba(40, 40, 40, 0) 0%, #282828 57.56%);
    align-items: flex-end;

    @include media_breakpoint_mobile {
        display: none;
    }
}

.button {
    width: 193px;
    justify-content: center;
}
