@import '../../styles/media.scss';
@import '../../styles/offsets.scss';
.section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 200px;
  padding-bottom: 180px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 40px;

  @include section-card-paddings;

  @include media_breakpoint_normal_desktop {
    padding-top: 110px;
    padding-bottom: 126px;
  }

  @include media_breakpoint_small_desktop {
    padding-top: 96px;
    padding-bottom: 116px;
  }

  @include media_breakpoint_mobile {
    padding-top: 40px;
  }
}

.header {
  color: var(--color-white);
  grid-column: 1 / span 6;

  @include media_breakpoint_small_desktop {
    grid-column: 1 / span 7;
  }

  @include media_breakpoint_big_desktop {
    grid-column: 1 / span 5;
  }
}

.text {
  margin-top: 20px;
  color: var(--color-gray-6x);
}
