@import '../../../styles/media';

.slider {
    position: relative;
    display: flex;
    flex-direction: column;
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    max-width: calc(100% - 20px);
    height: auto;
    max-height: 100%;
    border-radius: 12px;
    opacity: 1;
    transition: transform 0.3s linear, opacity 0.3s linear, transform-origin 0.15s linear;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center center;
}

.caption {
    margin: 0 auto;
    margin-top: 16px;
    visibility: hidden;
    width: 100%;
    text-align: center;
}


.imageWrapper {
    position: relative;
    height: 560px;

    @include media_breakpoint_normal_desktop {
        height: 584px;
    }

    @include media_breakpoint_small_desktop {
        height: 420px;
    }

    @include media_breakpoint_mobile {
        height: 190px;
    }

}

.slideWrapper {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;

    @include media_breakpoint_mobile {
        padding-right: 5px;
        padding-left: 5px;
    }

    &_active .caption {
        visibility: visible;
    }

    &_prev {
        text-align: right;

        .image {
            transform-origin: center right;
        }
    }

    &_next .image {
        transform-origin: center left;
    }

    &:not(&_active) .image {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.90);

        @include media_hover {
            cursor: pointer;
            opacity: 0.75;
        }
    }
}

.controlsBlock {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    transform: translateY(-100%);
    justify-content: flex-end;
    gap: 32px;

    @include media_breakpoint_small_desktop {
        display: none;
    }
}
