@import '@/styles/media.scss';

.list {
    display: flex;
    align-items: center;
    gap: 12px;

    &.mobileMode {
        height: auto;
        justify-content: flex-end;
    }

    &.hasExtraPadding {
        padding: 0 20px;
    }
}