@import '@/styles/media.scss';

.root {
    font-family: "Biform", sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    text-transform: uppercase;
}

.theme {
    &_light {
        color: var(--color-gray-6x);

        @include media_hover {
            &.type {
                &_m {
                    color: var(--color-black-ui);
                }
                &_s {
                    color: var(--color-red-ui);
                }
            }
        }
    }

    &_dark {
        color: var(--color-gray-4x);

        @include media_hover {
            &.type {
                &_m {
                    color: var(--color-white);
                }
                &_s {
                    color: var(--color-red-ui);
                }
            }
        }
    }
}

.type {
    &_m {
        font-size: 16px;
    }
    &_s {
        font-size: 14px;
    }
}
