@import '@/styles/media';
@import '@/styles/offsets';
@import '@/shared/ui/common/typography/Text/index.module';
@import '@/shared/ui/common/typography/Heading/index.module';

.content {
    :global {
        h1 {
            @include heading_level_1;
            @include heading_theme_light_1;
            margin-bottom: 32px;

            &:not(:first-child) {
                margin-top: 48px;
            }
        }

        h2 {
            @include heading_level_2;
            @include heading_theme_light_2;
            margin-bottom: 24px;

            &:not(:first-child) {
                margin-top: 40px;
            }
        }

        h3 {
            @include heading_level_3;
            @include heading_theme_light_3;
            margin-bottom: 16px;

            &:not(:first-child) {
                margin-top: 32px;
            }
        }

        h4 {
            @include text_type_quote;
            @include text_theme_light_quote;
            margin-bottom: 16px;
        }

        h5 {
            @include text_type_postscript;
            @include text_theme_light_postscript;
            margin-bottom: 16px;
            color: var(--color-gray-6x);
        }

        a {
            word-break: break-word;
            color: var(--color-red-ui);

            @include media_hover {
                color: var(--color-error);
            }
        }

        p,
        ul,
        ol {
            margin-bottom: 16px;

            @include text_type_pL;
            color: var(--color-black-ui);
        }

        blockquote {
            margin-top: 32px;
            margin-bottom: 32px;
            padding: 20px 16px;
            background-color: var(--color-gray-plus);
            border-radius: 8px;

            @include media_breakpoint_mobile {
                margin-top: 24px;
                margin-bottom: 24px;
            }

            p {
                @include text_type_quote;
                color: var(--color-black-ui);
            }

            h4 {
                @include text_type_pL;
                color: var(--color-gray-6x);
            }
        }

        table {
            overflow: hidden;
            max-width: 100%;
            border-collapse: collapse;
            border-radius: 12px;
        }

        td,
        th {
            padding: 20px;
            text-align: left;
        }

        th {
            background-color: rgba(255, 255, 255, 0.5);

            @include text_type_pHeadline;
            @include text_theme_light_pHeadline;
        }
        td {
            @include text_type_pM;
            @include text_theme_light_pM;
        }

        table,
        th,
        td {
            border: 1px solid var(--color-gray-2x);
        }

        tr:nth-child(odd) td {
            background-color: var(--color-white);
        }
        tr:nth-child(even) td {
            background-color: rgba(255, 255, 255, 0.5);
        }

        img {
            margin-bottom: 16px;
            max-width: 100%;
            border-radius: 12px;
        }

        .image-style-align-right {
            float: right;
        }
        .image-style-align-left {
            float: left;
        }

        figure {
            margin: 24px auto 24px;
            text-align: center;

            figure.image {
                margin: 70px auto 40px;

                @include media_breakpoint_small_desktop {
                    margin: 60px auto 40px;
                }

                @include media_breakpoint_small_desktop {
                    margin: 40px auto 24px;
                }

            }

            &.image_resized img {
                width: 100%;
            }

            &.table {
                overflow: auto;
            }

            table.ck-table-resized {
                width: 100%;
            }
        }

        figcaption {
            text-align: center;

            @include text_type_postscript;
            @include text_theme_light_postscript;
        }

        ol {
            li {
                list-style: decimal inside none;
            }
        }

        ul {
            li {
                padding-left: 13px;
                list-style: none;

                &::before {
                    position: absolute;
                    margin-top: calc((1.4em - 8px) / 2);
                    margin-right: 5px;
                    margin-left: -13px;
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    content: '';
                    background-color: var(--color-primary);
                    border-radius: 1px;
                }

                &:not(:last-of-type) {
                    margin-bottom: 8px;
                }
            }
        }
    }
}

.content.content_mode_dark :global {
    p,
    ul,
    ol {
        color: var(--color-gray-6x);
    }
}
