@import "./media";

@mixin section-card-padding-top {
    padding-top: var(--section-card-padding-top);
}

@mixin section-card-padding-right {
    padding-right: var(--section-card-padding-right);
}

@mixin section-card-padding-left {
    padding-left: var(--section-card-padding-left);
}

@mixin section-card-padding-bottom {
    padding-bottom: var(--section-card-padding-bottom);
}

@mixin section-card-paddings {
    @include section-card-padding-top;
    @include section-card-padding-right;
    @include section-card-padding-left;
    @include section-card-padding-bottom;
}

@mixin include-horizontal-paddings($pl, $pr) {
    margin-right: calc($pr * -1);
    margin-left: calc($pl * -1);
    padding-right: $pr;
    padding-left: $pl;
}

@mixin include-section-card-horizontal-paddings {
    @include include-horizontal-paddings(var(--section-card-padding-right), var(--section-card-padding-left))
}

@mixin subcard-paddings {
    padding: 32px;

    @include media_breakpoint_mobile {
        padding: 20px;
    }
}

@mixin subsection-above-offset {
    margin-top: 60px;

    @include media_breakpoint_mobile {
        margin-top: 32px;
    }
}

@mixin header-padding-horizontal {
    padding-right: var(--header-padding-horizontal);
    padding-left: var(--header-padding-horizontal);
}

@mixin header-padding-vertical {
    padding-top: var(--header-padding-vertical);
    padding-bottom: var(--header-padding-vertical);
}

@mixin footer-paddings {
    padding: var(--footer-padding-top) var(--footer-padding-horizontal) var(--footer-padding-bottom);
}

@mixin anchor-bar-paddings {
    padding: var(--anchor-bar-padding-vertical) var(--anchor-bar-padding-horizontal);
}
