:root {
    --color-red-ui: #fc3e24;
    --color-green-ui: #34c759;
    --color-gray-ui: #d7dbe1;
    --color-grapy-plus: #eaedf0;
    --color-light-gray-ui: #f3f4f5;
    --color-black-ui: #1b1b1b;
    --color-gray-8x: #282828;
    --color-gray-7x: #4E4E4E;
    --color-gray-6x: #808080;
    --color-gray-4x: #b3b3b3;
    --color-gray-2x: #eeeeee;
    --color-white: #ffffff;

    --color-primary: var(--color-red-ui);
    --color-border: var(--color-gray-7x);
}
