@import "./media";

:root {
    /* Colors */
    --color-red-ui: #fc3e24;
    --color-green-ui: #34c759;
    --color-gray-ui: #d7dbe1;
    --color-gray-plus: #eaedf0;
    --color-light-gray-ui: #f3f4f5;
    --color-black-ui: #1b1b1b;
    --color-gray-8x: #282828;
    --color-gray-7x: #4e4e4e;
    --color-gray-6x: #808080;
    --color-gray-4x: #b3b3b3;
    --color-gray-2x: #eeeeee;
    --color-white: #ffffff;
    --color-primary: var(--color-red-ui);
    --color-border: var(--color-gray-7x);

    /* Gaps */
    --section-card-padding-left: 120px;
    --section-card-padding-right: 120px;
    --section-card-padding-top: 80px;
    --section-card-padding-bottom: 80px;

    --footer-padding-top: 180px;
    --footer-padding-bottom: 150px;
    --footer-padding-horizontal: 360px;

    --header-padding-horizontal: 60px;
    --header-padding-vertical: 12px;
    --header-height: 60px;

    --anchor-bar-padding-vertical: 16px;
    --anchor-bar-padding-horizontal: 120px;
}

@include media_breakpoint_normal_desktop {
    :root {
        --section-card-padding-left: 40px;
        --section-card-padding-right: 40px;
        --section-card-padding-top: 60px;
        --section-card-padding-bottom: 60px;

        --footer-padding-top: 160px;
        --footer-padding-bottom: 100px;
        --footer-padding-horizontal: 60px;

        --anchor-bar-padding-horizontal: 40px;
    }
}

@include media_breakpoint_small_desktop {
    :root {
        --header-padding-horizontal: 20px;
        --footer-padding-top: 80px;
        --footer-padding-bottom: var(--footer-padding-top);
    }
}

@include media_breakpoint_mobile {
    :root {
        --section-card-padding-left: 16px;
        --section-card-padding-right: 16px;
        --section-card-padding-top: 20px;
        --section-card-padding-bottom: 32px;
        --header-height: 56px;

        --footer-padding-top: 80px;
        --footer-padding-horizontal: 20px;

        --anchor-bar-padding-vertical: 12px;
        --anchor-bar-padding-horizontal: 20px;
    }
}
