.wrapper {
  padding-top: 240px;
  text-align: center;
  background-image: url('/images/form/success.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 220px;
  align-items: center;
}

.title {
  margin-bottom: 20px;
}
