@import "../../../../../../styles/media.scss";

.sub_menu {
  position: absolute;
  z-index: 5;
  top: var(--header-height);
  right: 0;
  left: 0;
  padding: 20px 60px;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-gray-2x);
}

.sub_menu_items {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 12px;
}

.sub_menu_item {
  position: relative;
  padding: 16px 62px 16px 16px;
  border-radius: 4px;
  grid-column: auto / span 3;

  @include media_hover {
    background-color: var(--color-light-gray-ui);

    .description {
      color: var(--color-gray-8x);
    }

    &::before {
      position: absolute;
      top: 16px;
      right: 16px;
      content: url("/images/menu/arrow.svg");
    }
  }
}

.title {
  margin-bottom: 8px;
  color: var(--color-black-ui);
}

.description {
  color: var(--color-gray-6x);
}

.button {
  margin-top: 12px;
}
