@import '../../styles/media';

.date {
    color: var(--color-gray-6x);

    grid-column: 1 / span 4;

    @include media_breakpoint_small_desktop {
        grid-row: 1 / span 1;
        grid-column: 1 / span 8;
    }

    @include media_breakpoint_mobile {
        margin-bottom: 10px;
    }

    .hasImage & {
        grid-column: 1 / span 2;

        @include media_breakpoint_small_desktop {
            grid-row: 1 / span 1;
            grid-column: 1 / span 6;
        }
    }
}
