@import '../../../../../../styles/media.scss';

.historyItem {
    flex: none;
    position: relative;
    padding-top: 20px;
    padding-right: 40px;
    width: 253.2px;
    border-top: 1px dashed var(--color-red-ui);
}

.icon {
    position: absolute;
    top: -8px;
    left: 0px;
}

.date {
    margin-bottom: 20px;
    color: var(--color-red-ui);

    @include media_breakpoint_mobile {
        margin-bottom: 16px;
    }
}
.number {
    margin-bottom: 4px;
    color: var(--color-gray-8x);

    @include media_breakpoint_mobile {
        margin-bottom: 0px;
    }
}

.numberDescription {
    margin-bottom: 20px;
    color: var(--color-gray-6x);

    @include media_breakpoint_mobile {
        margin-bottom: 16px;
    }
}

.listItem {
    position: relative;
    padding-left: 9px;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &::before {
        position: absolute;
        top: -3px;
        left: 0;
        display: block;
        width: 4px;
        height: 4px;
        content: url('/images/common/marker.svg');
    }
}

.listItemText {
    display: inline;
    color: var(--color-gray-6x);
}
