@import '../../../../styles/media.scss';
@import '../../../../styles/offsets.scss';

.root {
    position: relative;
    overflow: hidden;
}

.list {
    display: flex;
    overflow-x: auto;
    gap: 16px;
}

.slide {
    padding: 24px;
    overflow-y: auto;
    min-width: 320px;
    max-width: 320px;
    max-height: 340px;
    border-radius: 14px;
}

.dark {
    & > * {
        /* stylelint-disable-next-line declaration-no-important */
        color: var(--color-white) !important;
    }

    &  .slide {
        background-color: var(--color-black-ui);
    }
}

.light {
    & > * {
        /* stylelint-disable-next-line declaration-no-important */
        color: var(--color-black-ui) !important;
    }

    & .slide {
        background-color: var(--color-white);
    }
}


.transparentLight {
    & > * {
        /* stylelint-disable-next-line declaration-no-important */
        color: var(--color-white) !important;
    }


    & .slide {
        background-color: transparent;
    }
}

.transparentDark {
    & > * {
        /* stylelint-disable-next-line declaration-no-important */
        color: var(--color-black-ui) !important;
    }

    & .slide {
        background-color: transparent;
    }
}