@import '@/styles/media.scss';
@import '@/styles/offsets.scss';

.section {
    margin-top: 0;
    margin-bottom: 0;

    padding-top: 120px;
    padding-bottom: 120px;

    @include media_breakpoint_normal_desktop {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    @include media_breakpoint_mobile {
        padding-top: 32px;
        padding-bottom: 40px;
    }

    @include section-card-padding-left;
    @include section-card-padding-right;
}

.text {
    color: var(--color-white);
}

.textHighlight {
    word-break: break-word;
    color: var(--color-red-ui);
}
