@import '../../styles/media.scss';


.date {
    color: var(--color-gray-6x);

    grid-column: 1 / span 4;

    @include media_breakpoint_small_desktop {
        grid-row: 1 / span 1;
        grid-column: 1 / span 8;
    }

    @include media_breakpoint_mobile {
        margin-bottom: 10px;
    }

    .hasImage & {
        grid-column: 1 / span 2;

        @include media_breakpoint_small_desktop {
            grid-row: 1 / span 1;
            grid-column: 1 / span 6;
        }
    }
}

.content {
    grid-column: 5 / span 5;

    @include media_breakpoint_small_desktop {
        grid-row: 2 / span 1;
        grid-column: 1 / span 8;
    }
}

.imageWrapper {
    justify-self: end;
    align-self: start;

    grid-row: 1;
    grid-column: 8 / 13;

    @include media_breakpoint_small_desktop {
        grid-row: 1 / span 2;
        grid-column: 7 / 13;
    }

    @include media_breakpoint_mobile {
        margin-bottom: 16px;
    }
}


.title {
    margin-bottom: 16px;

    @include media_breakpoint_mobile {
        margin-bottom: 10px;
    }
}

.description {
    margin-bottom: 32px;
    color: var(--color-gray-6x);

    @include media_breakpoint_mobile {
        margin-bottom: 40px;
    }
}
