@import "../../../../../../styles/media.scss";

.wrapper {
    --padding: 32px;
    position: relative;
    padding: var(--padding);
    background-color: var(--color-black-ui);
    border-radius: 12px;

    @include media_breakpoint_mobile {
        --padding: 20px;
    }
}

.title {
    max-width: 564px;

    @include media_breakpoint_small_desktop {
        max-width: 470px;
    }

    @include media_breakpoint_mobile {
        max-width: 100%;
    }
}

.accentText {
    color: var(--color-primary);
}

.description {
    margin-top: 16px;
    margin-bottom: 86px; /* Временный маржин, пока не добавили кнопку */
    max-width: 564px;

    @include media_breakpoint_small_desktop {
        max-width: 470px;
    }

    @include media_breakpoint_mobile {
        max-width: 100%;
    }
}

.background {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/advantages/contact-background.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    
    @include media_breakpoint_mobile {
        background-image: url('/images/advantages/contact-background-mobile.svg');
    }
    
}