@import "../../../../styles/media.scss";

.base {
    font-family: "Biform", sans-serif;
    font-weight: 400;
    line-height: 1.2em;
}

.level {
    &_1 {
        font-size: 72px;

        @include media_breakpoint_mobile {
            font-size: 38px;
        }
    }

    &_2 {
        font-size: 40px;

        @include media_breakpoint_mobile {
            font-size: 30px;
        }
    }

    &_3 {
        font-size: 24px;

        @include media_breakpoint_mobile {
            font-size: 20px;
        }
    }
}

.theme {
    &_light {
        &__level_1 {
            color: var(--color-black-ui);
        }
        &__level_2 {
            color: var(--color-black-ui);
        }
        &__level_3 {
            color: var(--color-black-ui);
        }
    }

    &_dark {
        &__level_1 {
            color: var(--color-white);
        }
        &__level_2 {
            color: var(--color-white);
        }
        &__level_3 {
            color: var(--color-white);
        }
    }
}
