.base {
    font-family: "TT Positive", sans-serif;
}

.type {
    

    &_pL {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4em;
    }

    &_pM {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4em;
    }

    &_pS {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.3em;
    }

    &_postscript {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3em;
        text-transform: uppercase;
    }

    &_pHeadline {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.4em;
    }

    &_quote {
        font-size: 22px;
        font-weight: 400;
        font-style: italic;
        line-height: 1.6em;
    }
}

.theme {
    &_light {
        &__type_pL {
            color: var(--color-gray-6x);
        }

        &__type_pM {
            color: var(--color-gray-8x);
        }

        &__type_pS {
            color: var(--color-gray-6x);
        }

        &__type_postscript {
            color: var(--color-gray-6x);
        }

        &__type_pHeadline {
            color: var(--color-black-ui);
        }

        &__type_quote {
            color: var(--color-gray-6x);
        }
    }

    &_dark {
        &__type_pL {
            color: var(--color-gray-2x);
        }

        &__type_pM {
            color: var(--color-gray-4x);
        }

        &__type_pS {
            color: var(--color-white);
        }

        &__type_postscript {
            color: var(--color-gray-6x);
        }

        &__type_pHeadline {
            color: var(--color-white);
        }

        &__type_quote {
            color: var(--color-gray-2x);
        }
    }
}
