@import '@/styles/media';

.container {
    display: grid;
    background-color: var(--color-white);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 40px;

    @include media_breakpoint_small_desktop {
        grid-gap: 20px;
    }

    @include media_breakpoint_mobile {
        display: block;
    }

}

.heading {
    grid-column: 1 / span 5;
    margin-bottom: 60px;

    @include media_breakpoint_small_desktop {
        grid-column: 3 / span 5;
        grid-gap: 20px;
    }

    @include media_breakpoint_mobile {
        margin-bottom: 32px;
    }
}

.title {
    margin-bottom: 32px;

    @include media_breakpoint_mobile {
        margin-bottom: 16px;
    }
}


.content {
    grid-column: 7 / span 6;

    @include media_breakpoint_small_desktop {
        grid-column: 1 / span 12;
    }
}

.radioGroupWrapper {
    margin-bottom: 20px;

    @include media_breakpoint_mobile {
        margin-right: calc(var(--section-card-padding-right) * -1);
        margin-bottom: 8px;
        margin-left: calc(var(--section-card-padding-left) * -1);
    }
}

.radioGroup {
    display: flex;
    column-gap: 16px;
    min-width: 100%;

    @include media_breakpoint_mobile {
        padding-right: var(--section-card-padding-right);
        padding-left: var(--section-card-padding-left);
    }
}
