.wrapper {
  text-transform: uppercase;
}

.itemWrap {
  position: relative;
  padding: 16px 0 12px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-gray-plus);
  justify-content: space-between;
}

.itemTitle {
  color: var(--color-gray-6x);
}

.itemWrap_active .itemTitle {
  margin-left: 16px;
  color: var(--color-gray-8x);

  &::before {
    position: absolute;
    top: 25px;
    left: 0px;
    width: 8px;
    height: 8px;
    content: '';
    background-color: var(--color-red-ui);
    border-radius: 50%;
  }
}

.icon {
  visibility: hidden;
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  object-fit: contain;
}

.itemWrap_active .icon {
  visibility: visible;
}
