@import '../../../../styles/media';

.content {
    &:not(:first-of-type) {
        margin-top: 32px;

        @include media_breakpoint_small_desktop {
            margin-top: 16px;
        }
    }
}

.title {
    margin-bottom: 16px;
}
