@import '../../../../styles/media';

.content {
    &:not(:first-of-type) {
        margin-top: 24px;
    }
}

.title {
    margin-bottom: 24px;

    @include media_breakpoint_small_desktop {
        margin-bottom: 16px;
    }
}
