
@import '../../styles/media';
.banner {
    position: relative;
    margin-top: calc(var(--section-margin-vertical) * var(--margins-compensate-count) * -0.5);
    margin-bottom: calc(var(--section-margin-vertical) * var(--margins-compensate-count) * -0.5);
    padding-top: calc(var(--section-margin-vertical) * (var(--margins-compensate-count) - 1));
    padding-bottom: calc(var(--section-margin-vertical) * (var(--margins-compensate-count) - 1));

    background: var(--color-black-ui);
    --margins-compensate-count: 5;

    @include media_breakpoint_small_desktop {
        --margins-compensate-count: 4;
    }
}

.banner img {
    opacity: 0.15;
}
.imageBg {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: calc(100%);

    object-fit: cover;

    @include media_breakpoint_mobile {
        height: calc(480px - 56px);
    }

    @include media_breakpoint_small_desktop {
        top: -20px;
        height: calc(599px - 60px);
    }

    @include media_breakpoint_normal_desktop {
        top: -20px;
        height: calc(623px - 60px);
    }
}
