@import "../../../../../../styles/offsets";
@import "../../../../../../styles/media";

.block {
    @include subsection-above-offset;

    @include media_breakpoint_small_desktop {
        display: block;
    }
}

.list {
    margin-top: 16px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    @include media_breakpoint_small_desktop {
        gap: 12px;
    }

    @include media_breakpoint_mobile {
        overflow-x: auto;

        @include include-section-card-horizontal-paddings;
    }
}

.listItem {
    @include media_breakpoint_mobile {
        min-width: 230px;
    }
}
