.container {
    position: relative;
}

@mixin input_base {
    padding: 11px;
    display: block;
    width: 100%;
    font-family: 'TT Positive', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    text-transform: uppercase;
    color: var(--color-black-ui);

    border: 1px solid var(--color-gray-ui);
    border-radius: 4px;
    outline: none;
}

@mixin input_placeholder {
    text-transform: uppercase;
    color: var(--color-gray-6x);
}

@mixin input_hover {
    border-color: var(--color-gray-4x);
}

@mixin input_focus {
    border-color: var(--color-gray-4x);
}

@mixin input_error {
    border-color: var(--color-error);
}

.input {
    @include input_base;

    &:hover:not(&_error) {
        @include input_hover;
    }

    &:focus:not(&_error) {
        @include input_focus;
    }

    &::placeholder {
        @include input_placeholder;
    }

    &_error {
        @include input_error;
    }
}
