@import "../../../styles/media.scss";
@import "../../../styles/offsets.scss";

.sectionCard {
    padding: 80px 120px;
    box-sizing: border-box;
    border-radius: 12px;

    @include section-card-paddings;
}

.sectionCard_mode_light {
    background-color: var(--color-light-gray-ui);
}

.sectionCard_mode_dark {
    background-color: var(--color-black-ui);
}

.sectionCard_mode_dark.sectionCard_on-dark {
    background-color: var(--color-gray-8x);
}
