@import '../../../styles/media.scss';
@import '../../../styles/offsets.scss';

.sectionCard {
    position: relative;
    padding: 80px 120px;
    box-sizing: border-box;
    border-radius: 16px;

    @include section-card-paddings;

    @include media_breakpoint_mobile {
        border-radius: 12px;
    }
}

.sectionCard_mode_light {
    background-color: var(--color-light-gray-ui);
}

.sectionCard_mode_dark {
    background-color: var(--color-gray-8x);
}
