@import "../../../../styles/media.scss";
@import "../../../../styles/offsets.scss";

.productsList {
    display: flex;
    overflow-x: scroll;
    gap: 20px;

    @include subsection-above-offset;
    @include include-section-card-horizontal-paddings
}

.clients {
    @include subsection-above-offset;
}
