@import "../../styles/media.scss";
@import "../../styles/offsets.scss";

.wrapper {
  @include footer-paddings;
  color: var(--color-white);
  background-color: var(--color-black-ui);
}

.info {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;

  @include media_breakpoint_small_desktop {
    margin-bottom: 150px;
  }

  @include media_breakpoint_mobile {
    margin-bottom: 80px;
    display: block;
  }
}

.head {
  max-width: 322px;

  @include media_breakpoint_mobile {
    margin-bottom: 40px;
  }
}

.copyright {
  margin-bottom: 40px;

  @include media_breakpoint_mobile {
    margin-bottom: 16px;
  }
}

.nav {
  display: flex;
  gap: 90px;

  @include media_breakpoint_small_desktop {
    flex-direction: column;
    gap: 60px;
  }

  @include media_breakpoint_mobile {
    gap: 32px
  }
}

.nav_col {
  flex-shrink: 0;
  max-width: 230px;

  @include media_breakpoint_mobile {
    max-width: 100%;
  }
}

.products {
  @include media_breakpoint_small_desktop {
    order: 2;
  }
}

.company {
  @include media_breakpoint_small_desktop {
    order: 1;
  }
}

.social {
  @include media_breakpoint_small_desktop {
    order: 3;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    height: 100%;
  }
}
