@import '../../styles/media.scss';
@import '../../styles/offsets.scss';

.section {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 40px;
  min-height: 614px;

  @include section-card-paddings;

  @include media_breakpoint_normal_desktop {
    padding-top: 110px;
    min-height: 470px;
  }

  @include media_breakpoint_small_desktop {
    padding-top: 96px;
    min-height: 520px;
  }

  @include media_breakpoint_big_desktop {
    padding-top: 200px;
  }

  .description {
    margin-top: 20px;

    @include media_breakpoint_mobile {
      margin-top: 16px;
    }
  }

  @include media_breakpoint_mobile {
    min-height: auto;
  }
}

.content {
  color: var(--color-white);
  grid-column: 1 / span 5;

  @include media_breakpoint_small_desktop {
    grid-column: 1 / span 5;
  }

  @include media_breakpoint_big_desktop {
    grid-column: 1 / span 5;
  }

  @include media_breakpoint_mobile {
    grid-column: 1 / span 12;
  }
}

