@import '@/styles/media';
@import '@/styles/offsets';

.cardsListScrollArea {
    @include subsection-above-offset;

    @include media_breakpoint_small_desktop {
        @include include-section-card-horizontal-paddings;
    }
}

.cardsList {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 20px;

    @include media_breakpoint_small_desktop {
        display: flex;
        width: fit-content;
    }

    @include media_breakpoint_mobile {
        gap: 12px;
    }
}

.cardsListItem {
    position: relative;
    display: block;

    @include media_breakpoint_small_desktop {
        width: 360px;
    }

    @include media_breakpoint_mobile {
        width: 244px;
    }
}
