@import '@/styles/media.scss';
@import '@/styles/offsets.scss';

.wrapper {
  background-color: var(--color-black-ui);
}

.wrapperSection {
  margin-bottom: 0;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 40px;

  @include media_breakpoint_mobile {
    display: block;
  }
}

.dateWrap {
  @include media_breakpoint_small_desktop {
    margin-bottom: 20px;
  }

  @include media_breakpoint_mobile {
    margin-bottom: 16px;
  }
}

.asideContainer {
  position: sticky;
  top: 0;
  margin-top: calc(var(--header-height) * -1);
  padding-top: var(--header-height);

  @include media_breakpoint_small_desktop {
    display: none;
  }
}

.aside {
  position: sticky;
  top: 0;
  margin-top: 50px;
  overflow: auto;
  height: fit-content;
  max-height: 100%;
  max-height: calc(100vh - var(--header-height) - 50px);

  @include media_breakpoint_small_desktop {
    display: none;
  }
}

.asideTitle {
  margin-bottom: 4px;
  color: var(--color-black-ui);
}
