@import "@/styles/media.scss";
@import "@/styles/offsets.scss";
@import "@/styles/decorators.scss";

.card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 184px;
    background-color: var(--color-white);

    border-radius: 8px;
}
.tag {
    padding: 4px 8px;
    width: max-content;
    text-transform: uppercase;
    background-color: var(--color-gray-plus);
    border-radius: 4px;
}

.date {
    margin-top: 8px;
}

.title {
    margin-top: 8px;

    @include slice-text(3);

    @include media_breakpoint_mobile {
        @include slice-text(4);
    }
}

.content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.icon {
    position: relative;
    overflow: hidden;
    width: 52px;
    height: 52px;

    & img {
        width: auto;
        height: 100%;
    }

    @include media_breakpoint_mobile {
        width: 30px;
        height: 30px;
    }
}
