@import '../../../../styles/media.scss';
@import '../../../../styles/offsets.scss';

.attachmentsWrap {
  margin-top: 20px;
  display: grid;
  overflow-y: auto;
  width: fit-content;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @include media_breakpoint_mobile {
    @include include-section-card-horizontal-paddings;

    margin-top: 16px;
    display: flex;
    gap: 12px;
    width: auto;
  }
}

.description {
  margin-top: 40px;

  @include media_breakpoint_mobile {
    margin-top: 24px;
  }
}
