@import '@/styles/media.scss';

.base {
    font-family: 'TT Positive', sans-serif;

    a {
        text-decoration: none;
        color: var(--color-red-ui);

        @include media_hover {
            color: var(--color-error);
        }
    }

    mark {
        color: var(--color-red-ui);
        background-color: initial;
    }
}

@mixin text_type_pL {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
}

@mixin text_type_pM {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
}

@mixin text_type_pS {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3em;
}

@mixin text_type_postscript {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
    text-transform: uppercase;
}

@mixin text_type_pHeadline {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4em;
}

@mixin text_type_quote {
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.6em;
}

@mixin text_type_headerHeading {
    font-family: Biform, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
}

.type {
    &_pL {
        @include text_type_pL;
    }

    &_pM {
        @include text_type_pM;
    }

    &_pS {
        @include text_type_pS;
    }

    &_postscript {
        @include text_type_postscript;
    }

    &_pHeadline {
        @include text_type_pHeadline;
    }

    &_quote {
        @include text_type_quote;
    }

    &_headerHeading {
        @include text_type_headerHeading;
    }
}

@mixin text_theme_light_pL {
    color: var(--color-gray-6x);
}

@mixin text_theme_light_pM {
    color: var(--color-gray-8x);
}

@mixin text_theme_light_pS {
    color: var(--color-gray-6x);
}

@mixin text_theme_light_postscript {
    color: var(--color-gray-6x);
}

@mixin text_theme_light_pHeadline {
    color: var(--color-black-ui);
}

@mixin text_theme_light_quote {
    color: var(--color-gray-6x);
}

.theme {
    &_light {
        &__type_pL {
            @include text_theme_light_pL;
        }

        &__type_pM {
            @include text_theme_light_pM;
        }

        &__type_pS {
            @include text_theme_light_pS;
        }

        &__type_postscript {
            @include text_theme_light_postscript;
        }

        &__type_pHeadline {
            @include text_theme_light_pHeadline;
        }

        &__type_quote {
            @include text_theme_light_quote;
        }
    }

    &_dark {
        &__type_pL {
            color: var(--color-gray-2x);
        }

        &__type_pM {
            color: var(--color-gray-4x);
        }

        &__type_pS {
            color: var(--color-white);
        }

        &__type_postscript {
            color: var(--color-gray-6x);
        }

        &__type_pHeadline {
            color: var(--color-white);
        }

        &__type_quote {
            color: var(--color-gray-2x);
        }
    }
}
