@import '@/styles/media.scss';
@import '@/styles/offsets';

.sectionHeading {
    margin-bottom: 60px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: 40px;
    row-gap: 32px;

    @include media_breakpoint_mobile {
        margin-bottom: 32px;
        display: block;
    }
}

.sectionTitle {
    grid-column: 1 / span 8;

    @include media_breakpoint_normal_desktop {
        grid-column: 1 / span 7;
    }

    @include media_breakpoint_small_desktop {
        grid-column: 1 / span 9;
    }

    @include media_breakpoint_mobile {
        margin-bottom: 16px;
    }
}

.sectionDescription {
    color: var(--color-gray-6x);

    grid-column: 1 / span 5;

    @include media_breakpoint_normal_desktop {
        grid-column: 1 / span 4;
    }

    @include media_breakpoint_small_desktop {
        grid-column: 1 / span 6;
    }
}

.employeesBlock {
    --employees-block-margin-bottom: 60px;

    &:not(:last-child) {
        margin-bottom: var(--employees-block-margin-bottom);
    }

    @include media_breakpoint_normal_desktop {
        --employees-block-margin-bottom: 40px;
    }

    @include media_breakpoint_mobile {
        --employees-block-margin-bottom: 32px;
    }
}

.employeesBlockTitle {
    margin-bottom: 40px;

    @include media_breakpoint_mobile {
        margin-bottom: 24px;
    }
}

.employeeCardsList {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include media_breakpoint_mobile {
        display: flex;
        gap: 12px;

        @include include-section-card-horizontal-paddings;
    }
}

.managersListOverlay {
    bottom: calc((var(--employees-block-margin-bottom) - 20px) * -1 - 20px);
}

.expertsListOverlay {
    bottom: calc(var(--section-card-padding-bottom) * -1);
}
