@import '../../styles/media';
@import '../../styles/offsets';

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 316px;
    min-width: 316px;
    background: var(--color-black-ui);
    border-radius: 8px;
    justify-content: space-between;

    @include subcard-paddings;

    @include media_breakpoint_small_desktop {
        width: 260px;
        min-width: 260px;
    }

    @include media_breakpoint_mobile {
        width: 220px;
        min-width: 220px;
    }
}

.content {
    flex: 1 1 auto;
}

.title {
    margin-top: 40px;

    @include media_breakpoint_mobile {
        margin-top: 20px;
    }
}

.description {
    margin-top: 16px;
}

.icon {
    position: relative;
    overflow: hidden;
    width: auto;
    height: 100px;

    & img {
        width: auto;
        height: 100%;
    }
}

.link {
    margin-top: 40px;

    @include media_breakpoint_mobile {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

.linkText {
    @include media_breakpoint_mobile {
        display: none;
    }
}
