@import '@/styles/media.scss';
@import '@/styles/offsets.scss';

.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--color-white);
    border-radius: 8px;

    @include media_breakpoint_mobile {
        padding: 16px;
    }
}

.value {
    color: var(--color-primary);
}

.title {
    margin-top: 4px;
    color: var(--color-gray-6x);
}

.content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.icon {
    position: relative;
    overflow: hidden;
    width: 52px;
    height: 52px;

    & img {
        width: auto;
        height: 100%;
    }

    @include media_breakpoint_mobile {
        width: 30px;
        height: 30px;
    }
}
