@import '../../../styles/media.scss';

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 40px;

    @include media_breakpoint_mobile {
        display: block;
    }
}

.text {
    grid-column: 4 / span 6;

    @include media_breakpoint_small_desktop {
        grid-column: 3 / span 8;
    }
}

.number {
    margin-top: 24px;
    color: var(--color-gray-6x);

    @include media_breakpoint_mobile {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

.description {
    margin-top: 32px;
    max-width: 496px;

    @include media_breakpoint_small_desktop {
        max-width: 432px;
    }

    @include media_breakpoint_mobile {
        margin-top: 16px;
        width: auto;
    }
}
