@import "../../../styles/media.scss";

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 40px;

    @include media_breakpoint_mobile {
        display: block;
    }
}

.text {
    grid-column: 5 / span 6;
}

.description {
    margin-top: 32px;

    @include media_breakpoint_mobile {
        margin-top: 16px;
    }
}
