@import "../../../../styles/media.scss";
@import "../../../../styles/offsets.scss";

.toolsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include subsection-above-offset;

    @include media_breakpoint_small_desktop {
        display: flex;
        overflow-x: scroll;
    }
}
