@import '../../styles/media.scss';
@import '../../styles/offsets.scss';

.wrapper {
  background-color: var(--color-black-ui);
}

.section {
  margin-bottom: 0;
}

.wrapperSection {
  margin-bottom: 0;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 40px;

  @include media_breakpoint_mobile {
    display: block;
  }
}

.dateWrap {
  @include media_breakpoint_small_desktop {
    margin-bottom: 20px;
  }

  @include media_breakpoint_mobile {
    margin-bottom: 16px;
  }
}

.aside {
  position: sticky;
  top: 0;
  height: fit-content;

  @include media_breakpoint_small_desktop {
    display: none;
  }
}

.asideTitle {
  margin-bottom: 4px;
  padding-top: 50px;
  color: var(--color-black-ui);
}
