@import '@/styles/media.scss';

.employeeCard {
    overflow: hidden;
    background-color: var(--color-black-ui);
    border-radius: 8px;

    @include media_breakpoint_mobile {
        width: 244px;
        min-width: 244px;
    }
}

.imageWrapper {
    position: relative;
    aspect-ratio: 1.2;
}

.image {
    object-fit: cover;
}

.content {
    padding: 20px;

    @include media_breakpoint_mobile {
        padding: 16px;
    }
}

.title {
    margin-bottom: 8px;
    color: var(--color-white);
}

.description {
    color: var(--color-gray-6x);
}
