@import "../../../../styles/media.scss";
@import "../../../../styles/offsets.scss";

.block {
    overflow: hidden;
}

.articlesList {
    position: relative;

    @include subsection-above-offset;
}

.statisticsList {
    position: relative;

    @include subsection-above-offset;
}

.background {
    position: absolute;
    top: -90px;
    left: -60px;
    pointer-events: none;

    @include media_breakpoint_small_desktop {
        display: none;
    }
}
