@import '../../../../../../styles//media.scss';

.article {
    --vertical-padding: 40px;

    padding-bottom: var(--vertical-padding);

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 40px;

    &:not(:first-of-type) {
        padding-top: var(--vertical-padding);
    }

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--color-gray-ui);
    }

    @include media_breakpoint_small_desktop {
        row-gap: 16px;
    }

    @include media_breakpoint_mobile {
        --vertical-padding: 20px;

        display: block;
    }
}

.date {
    color: var(--color-gray-6x);

    grid-column: 1 / span 4;

    @include media_breakpoint_small_desktop {
        grid-row: 1 / span 1;
        grid-column: 1 / span 8;
    }
}

.content {
    grid-column: 5 / span 5;

    @include media_breakpoint_small_desktop {
        grid-row: 2 / span 1;
        grid-column: 1 / span 8;
    }
}

.title {
    @include media_breakpoint_mobile {
        margin-top: 10px;
    }
}

.description {
    margin-top: 16px;
    color: var(--color-gray-6x);

    @include media_breakpoint_mobile {
        margin-top: 10px;
    }
}

.link {
    margin-top: 32px;
    display: inline-block;

    @include media_breakpoint_mobile {
        margin-top: 40px;
    }
}
