@import "../../../../../../styles/media.scss";

.clients {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 40px;

    @include media_breakpoint_mobile {
        display: block;
    }
}

.textContent {
    grid-column: 1 / span 4;
}

.list {
    grid-column: 5 / span 12;
}

.title {
    max-width: 564px;

    @include media_breakpoint_small_desktop {
        max-width: 470px;
    }

    @include media_breakpoint_mobile {
        max-width: 100%;
    }
}

.accentText {
    color: var(--color-primary);
}

.description {
    margin-top: 24px;
   

    @include media_breakpoint_small_desktop {
        max-width: 470px;
    }

    @include media_breakpoint_mobile {
        margin-top: 16px;
    }
}

.background {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/advantages/contact-background.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;

    @include media_breakpoint_mobile {
        background-image: url("/images/advantages/contact-background-mobile.svg");
    }
}
