@import "../../../../../../styles/media.scss";
@import "../../../../../../styles/offsets.scss";

.textColumn {
    grid-column: 1 / span 3;

    @include media_breakpoint_small_desktop {
        grid-column: 1 / span 4;
    }
}

.listColumn {
    grid-column: 4 / span 9;

    @include media_breakpoint_small_desktop {
        grid-column: 5 / span 9;
    }
}

.listItem {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 336px;
    gap: 20px;

    @include media_breakpoint_small_desktop {
        grid-template-columns: 1fr 1fr;
    }

    @include media_breakpoint_mobile {
        margin-top: 32px;
        max-height: 264px;
    }
}

.title {
    max-width: 564px;

    @include media_breakpoint_small_desktop {
        max-width: 470px;
    }

    @include media_breakpoint_mobile {
        max-width: 100%;
    }
}

.description {
    margin-top: 24px;

    @include media_breakpoint_small_desktop {
        max-width: 470px;
    }

    @include media_breakpoint_mobile {
        margin-top: 16px;
        max-width: 100%;
    }
}
