@import "../../../../styles/media";
@import "../../../../styles/offsets";

.advantagesList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include subsection-above-offset;

    @include media_breakpoint_small_desktop {
        display: flex;
        gap: 12px;

        @include include-section-card-horizontal-paddings;
    }
}

.welcomeToContact {
    @include subsection-above-offset;
}
